# This is Git's per-user configuration file.
[user]
	name = jonbwalker
	email = walkerj06@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	add-commit = !git add -A && git commit
[core]
	autocrlf = input
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
